body{
	color: darkred;

}

h1{
	padding: 0;
	margin: 0;
	display: inline-block;

}
nav{
	display: inline-block;
	float: right;
}
nav ul{
	padding: 0;
}
nav ul li {
	display: inline-block;
	color: lightgrey;
	background: #222;
	padding: 5px;
	border-radius: 3px;
}
nav ul li a{
	color: lightgrey;
}